{% extends 'base.html.twig' %}
        {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }} #}
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhX-qoDaSbIBYqSykD3_nCE-hZylnfjtU&callback=initMap"  async></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
            <script>
        // Initialize and add the map
                function initMap() {
                    map = new google.maps.Map(document.getElementById("map"), {
                    center: {lat: 45.746094, lng: 4.841847},
                    zoom: 8
                    });
                      infoWindow = new google.maps.InfoWindow();
                    const locationButton = document.createElement("button");
                    locationButton.textContent = "Current Location";
                    locationButton.classList.add("custom-map-control-button");
                    map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
                    locationButton.addEventListener("click", () => {
                        // Try HTML5 geolocation.
                        if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(
                            (position) => {
                            const pos = {
                                lat: position.coords.latitude,
                                lng: position.coords.longitude,
                            };
                            infoWindow.setPosition(pos);
                            infoWindow.setContent("Location found.");
                            infoWindow.open(map);
                            map.setCenter(pos);
                            },
                            () => {
                            handleLocationError(true, infoWindow, map.getCenter());
                            }
                        );
                        } else {
                        // Browser doesn't support Geolocation
                        handleLocationError(false, infoWindow, map.getCenter());
                        }
                    });
                    {% for listing in listings %}
                            addMarker("{{listing.name}}",{{listing.lat}},{{listing.lon}}); 
                    {% endfor %}
                }

                function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                infoWindow.setPosition(pos);
                infoWindow.setContent(
                    browserHasGeolocation
                    ? "Error: The Geolocation service failed."
                    : "Error: Your browser doesn't support geolocation."
                );
                infoWindow.open(map);
                }

            </script>

             <script>
                function addMarker(element, lattitude, longitude)  {
                    var marker = new google.maps.Marker({
                    position: { lat: lattitude, lng: longitude },
                    map: map,
                    }); 
                }
            </script>
        {% endblock %}
{% block title %}Liste des foodtrucks{% endblock %}

{% block body %}
<div id="map"></div>
<div >
    <h2>Bienvenue  {{ controller_name }}!</h2>
    <ul >
    {% for listing in listings %}
        <li >
        <h1>{{ listing.name }} </h1>
        <a class="btn btn-primary" href="/show/{{listing.id}}" role="button">Voir</a>
        <a class="btn btn-primary" href="/edit/{{listing.id}}" role="button">Modifier</a>
        <img src="{{ listing.img}}"/>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}


